[credential]
helper = store

[commit]
gpgsign = false

[gpg]
program = gpg

[pull]
rebase = false

[pager]
diff = delta
log = delta
reflog = delta
show = delta

[interactive]
diffFilter = delta --color-only --features=interactive

[delta]
features = decorations
side-by-side = true
line-numbers = true
navigate = true

[delta "interactive"]
keep-plus-minus-markers = false

[merge]
conflictstyle = diff3

[diff]
colorMoved = default

[alias]
count = rev-list --count HEAD
undo = reset --soft HEAD^
origin = remote add origin
publish = push --set-upstream origin master

[http]
version = HTTP/1.1
