[credential]
helper = store

[commit]
gpgsign = false

[gpg]
program = gpg

[pull]
rebase = false

[merge]
conflictstyle = diff3

[diff]
colorMoved = default

[alias]
count = rev-list --count HEAD
publish = push --set-upstream origin master
delete-local-tag = git tag --delete
delete-remote-tag = git push --delete origin

[http]
version = HTTP/1.1
