name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  job1:
    name: Test Oxidizer on macOS
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15, macos-13]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Test on macOS
        run: |
          export OXIDIZER='.'
          bash -e install.sh

  job2:
    name: Test Oxidizer on Linux
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Test on Linux
        run: |
          export OXIDIZER='.'
          bash -e install.sh

  job3:
    name: Test Oxidizer on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Test on Windows
        run: |
          $env:OXIDIZER = '.'
          $env:scoop_test = 1
          pwsh install.ps1
